{% extends 'base.html' %} {% load static %}
{% block content %}


<div class="country-categories-container">

    <h4 class="title-text">{{country}}</h4>


    {% for category in country_categories %}
    
    
                <div class="recent-search-container">
                    <div class="recent-search-card">
                    <a class="country-link" href="{% url 'travel:travel-category-detail' country=country category=category.category %}">
                    <h4>{{ category.category }}</h4>
                    </a>
                    </div>
    
                    <a class="search-item-delete delete-btn" href="{% url 'travel:place-category-delete' place_location=country category=category.category %}"><i class="bi bi-trash3"></i></a>
                </div>
    
    
    {% endfor %}

</div>


<br><br>

<div class="back-button-div">
<a class="back-button" href="{% url 'profile' slug=request.user.slug pk=request.user.id %}">Back</a>
</div>



{% endblock content %}