asgiref==3.5.0
boto3==1.21.26
botocore==1.24.46
certifi==2021.10.8
charset-normalizer==2.0.12
coverage==6.3.2
Django==4.0.4
django-admin-interface==0.18.3
django-admin-thumbnails==0.2.6
django-appconf==1.0.5
django-cleanup==6.0.0
django-colorfield==0.6.0
django-compressor==3.1
django-crispy-forms==1.14.0
django-environ==0.9.0
django-flat-responsive==2.0
django-flat-theme==1.1.4
django-storages==1.12.3
factory-boy==3.2.1
Faker==13.7.0
gunicorn==20.1.0
idna==2.5
jmespath==0.10.0
numpy==1.22.3
pandas==1.4.2
Pillow==9.1.0
psycopg2-binary==2.9.3
python-dateutil==2.8.2
python-decouple==3.5
pytz==2022.1
rcssmin==1.1.0
requests==2.27.1
rjsmin==1.2.0
s3transfer==0.5.0
six==1.12.0
sqlparse==0.4.2
urllib3==1.26.10
