container_commands:
    01_activate:
        command: “source /var/app/venv/*/bin/activate && python3 manage.py migrate”
        leader_only: true
    02_locate:
        command: "cd /var/app/staging"
        leader_only: true
    03_migrate:
        command: "python manage.py migrate"
option_settings:
    aws:elasticbeanstalk:application:environment:
        DJANGO_SETTINGS_MODULE: core.settings
